ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #facc28;
}

li {
  float: left;
}

li a, .dropBtn {
  display: inline-block;
  color: #999;
  text-align: center;
  padding: 14px 16px;
}

li.dropDown {
  display: inline-block;
}

.dropBtn {
  background-color: #facc28;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropDown {
  position: relative;
  display: inline-block;
}

.dropDown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropDown-content a {
  color: black;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  display: block;
}

.dropDown-content a:hover {
  background-color: #f1f1f1
}

.dropDown:hover .dropDown-content {
  display: block;
}

.dropDown:hover .dropBtn {
  background-color: #3e8e41;
}
